.contact h1,h2,p{
 text-align:  center;
}
.container {

justify-content: space-evenly
   
}

.contatobox {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}
.emaill {
    align-items: center;
    align-self: center;
}
.box {

    align-items: center;
    align-self: center;
}