 .container {
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
  padding-top: 120px;
  padding-bottom: 120px;
 

 }

 .container form {
    align-items: center;
    justify-content: center;
 }
 .box {
  display: flex;
  align-items: center;
  justify-content: center;
   }
 .box input {
  width: 400px;
    align-items: center;
  justify-content: center;
 }
 .form button {
  width: 400px;
    align-items: center;
  justify-content: center;
 }
.textarea {
  width: 400px;
  height: 150px;
}
 .boxemail {
  align-items: center;
  align-self: center;
  width: 500px;
 }
.button {

}