.footer {
background: black; 
display: flex;
justify-content: center;

}
.footerlogo{
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-around;
    background: black;

}
.footerlogo img {
    max-width: 150px;
    max-height: 150px;
    
}

.box h1{
    font-size: 1.2rem;
    text-align: left;
    
}
.footer p {
    text-align: left;
    color: white;
    font-size: 0.8rem;
}

.box img {
    max-width: 40px;
    padding: 5px;

}