.footer {
background: black; 
display: flex;
justify-content: center;
flex-wrap: wrap;

}

.footerlogo img {
    max-width: 150px;
    max-height: 150px;
    
}
.box {
    padding: 5px;
}

.boxredes  {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.footer h1{
    text-align: left;
    font-size: 1.2rem;
}

.footer p {
    color: white;
    font-size: 0.8rem;
    text-align: left;
}

.box a{
    text-decoration: none;
    color: white;
}
.box img {
    max-width: 40px;
    padding: 5px;

}
.logobox {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 600px) {
    .footerlogo img {
        width: 80px;
    }
    .footer {
       display: flex;  
    }
    .box h1{
        font-size: 0.6rem;
        text-align: left;
        
    }
    .box p {
        font-size: 0.55rem;
    }
 
}