.promotion {

     display: flex;
justify-content: center;
     align-items: center;
     padding: 25px;
}
 .promotioncase {
    padding: 20px;
 }
.promotionbox img {
    width: 520px;
}
.promtionp {
    margin-top: -100px;
    color: white;
}

.videoMobile { 

    display: none;
}


@media only screen and (max-width: 600px) {
   .promotion{
    display: flex;
    padding:0;
    padding-bottom: 20px;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
  
   }
    .videoMobile {
        display: block;
    }
    .promotioncase  {
        width: 250px;
    }

    .promotion img  {
        width: 200px;
    }
    .promotion p {
        font-size: 9px ;
    }
    .promotion h3 {
        font-size:9px ;
    }
    .promtionp {
        margin-top: -30px;
        color: white;
    }

    .videoDesktop {
        display: none;
    }
}