.vitrine {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title h1{
    font-size: 30px ;
    text-shadow: black 1px 1px 1px
}

.vitrine li {
    list-style: none;
}

.vitrine ul {
    display: flex;
    flex-wrap: wrap;
}


.vitrinebox h2{
    font-size: 25px;   
    font-weight: bold;
    padding: 10px;
}   



.vitrinebox img {
    width: 340px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.vitrinebox img:hover {
    box-shadow: 7px 10px 100px 0px rgba(0,0,0,0.75);    
    cursor:initial;


}

.videoMobile {

    display: none;
}
@media only screen and (max-width: 600px) {
    .vitrinebox  {
        max-width   : 130px;
    }
    .vitrinebox h2{ 
        font-size: 8px;
    }

     .vitrine li {
        margin: 0 auto;

    }

    .vitrinebox img  {

        max-width: 80px;
    }

    .title h1{
        font-size: 15px;
    }

    .vitrine p {
        display: none;
    }



    
  }

