.vitrine {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}
.title h1{
    font-size: 30px ;
    text-shadow: black 1px 1px 1px
}

.vitrine li {
    list-style: none;
}

.vitrine ul {
    display: flex;
}


.vitrinebox h2{
    font-size: 25px;   
    font-weight: bold;
    padding: 10px;
}   



.vitrinebox img {
    width: 340px;
    margin: 0 auto;

}

@media only screen and (max-width: 600px) {
    .vitrinebox  {
        max-width   : 130px;
    }
    .vitrinebox h2{ 
        font-size: 8px;
    }

     .vitrine li {
        margin: 0 auto;
    }
    .vitrinebox img  {

        max-width: 130px;
    }

    .title h1{
        font-size: 15px;
    }

    .vitrine p {
        display: none;
    }
  }

